.parallax_container {
    height: auto; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    row-gap:2rem;
    /* padding: 2rem 0rem; */
    column-gap:2rem;
    margin: 2rem 2rem 5rem 2rem;
    box-sizing: border-box;
  }




  .parallax_box {
    position: relative;
    cursor: pointer;
    width: 30%;
    min-width: 17rem;
    box-sizing: border-box;

  }


 
  .animation{
    animation: opacityAnimation 500ms linear;

  }
  @keyframes opacityAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .parallax_box_image{
    width: 100%;
    height: 12rem;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s linear; 

  }

  .parallax_box_image > img {
    width: 100%;
    height: 100%;
    transform: scale(1.05); 
  }
  
  .parallax_box_image:hover {
    transform: translateY(-10px);

    -webkit-box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.12);
-moz-box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.12);
box-shadow: 0px 10px 20px 2px rgba(0,0,0,0.12);
  }

  /* .parallax_box:hover .parralex_effect_text{
    display: flex;
    opacity: 1;
    transform: translateY(-10px);
    transition: transform 0.6s linear; 
  } */


  .parralex_effect_text{
   margin:1rem 0rem;
   opacity: 1;
  }
  .parralex_effect_text>div>span{
    font-size: .6rem;
    font-weight: 500;
    color: #ffffff;
    z-index: 10;
    padding:0.2rem .5rem;
    overflow: hidden;
    opacity: 0.4;
    background-color: rgb(64, 63, 63);
    border-radius: 0.5rem;
  }

  .parralex_effect_text>div>h3{
    font-size: 1.1rem;
    font-weight: 500;
    color: #000;
    overflow: hidden;
  }
  /* .obj_year{
    position: absolute;
    top: 30px;
    left: 30px;
    background: rgba(255,255,255,0.3);
    padding: 3px 16px;
    border-radius: 50px;
  } */



 
  @media screen and (max-width: 1020px){
    .parallax_box {
     width: 45%;
    }
  }
 
@media screen and (max-width: 750px){


  
  .parallax_container {
    margin: 2rem 0rem 5rem 0rem;
  }


  .parallax_box {
    width: 80%;
   }

}
@media screen and (max-width: 450px){


}